body, html{
    margin: 0;
    height: 100%;
    font-family: "Rajdhani", sans-serif;
    background: rgba(1, 1, 1, 0.1);
}

.container{
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    /* box-shadow: 0 0 30px 1px; */
}

.my-photo{
    width: 150px;
}

.header-element{
    margin: 0 15px 0 15px;
    /* border: 1px solid black; */
}

.header-span{
    font-size: 3em;
}

.navbar{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12%;
    background: rbga(1, 1, 1, 0.3);
    /* box-shadow: 0 0 30px 1px; */
}

.navbar a{
    text-decoration: none;
    color: black;
}

.option{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px 0 25px 0;
    transition: background 0.2s;
    background: rgba(1, 1, 1, 0.1);
}

.option:hover{
    cursor: border;
}

.options{
    font-size: 1.5em;
    box-shadow: 0 0 10px 2px;
}

.options:hover{
    cursor:pointer;
    background: rgba(1, 1, 1, 0.5);
}

.main-content{
    height: 100%;

    width: 60%;
    /* border: 1px solid black; */
    font-size: 1.5em;
    margin: 50px auto 0 auto;
}


.techonlogy-container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 0;
}


.technology{
    /* border: 1px solid black; */
    margin: 0 20px 0 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.technology h1{
    margin: 0;
}
.icon{
    width: 30%;
}